<template name="chatview">
      <div class="header-container">
      <div class="wrapper clearfix">
        <h1>Chatapp</h1>
   
      </div>
    </div>
    <div class="main-container">
      <div class="wrapper clearfix">
        <div class="main">
        <ul>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        	<li><strong>Anonymous:</strong> Message</li>
        </ul>
      </div>
      </div>
    </div>
    <!-- <div class="footer-container">
      <div class="wrapper footer">
        
      </div>
    </div> -->
    <div class="messages-container">
      <div class="wrapper clearfix">
      </div>
    </div>
</template>

