<template name="chatview">
	<div class="">
	    <div class="chatview-main-container">
	        <div class="chatview-main">
	        <ul id="chatview-messages">
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        	<li><strong>Anonymous:</strong> Message</li>
	        </ul>
	      </div>
	    </div>
	    <div class="chatview-messages-container">
	      <div class="">
	      	<input type="text" placeholder="message" id="message"/>
	      </div>
	    </div>
	</div>
</template>

