@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.chatview-message-input-container, #push{
    margin: 20px 0 0;
}
.chatview-message-input-container input{
    width:100%;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.chatview-message-input{

}
.chatview-main-container{

  }
.chatview-main{
  
}
ul{
	padding: 0 0 0 0 ;
}
li{
	padding: 10px;
	list-style: none !important;

}
.cv-user{
	float:left;
	font-weight: bold !important;
	margin: 0 10px 0;
}
.cv-text{

}
li:hover{
	background: #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}