<template name="chatview">
	<div class="container-fluid">
		<div class="inner-app-wrap">
		    <div class="chatview-main-container">
		        <div class="chatview-main">
			        <ul id="chatview-messages">
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        	<li><strong>Anonymous:</strong> Message</li>
			        </ul>
		      	</div>
		    </div>
		 </div>
	</div>
	<div class="chatview-message-input-container">
	      <div class="chatview-message-input">
	      	<input type="text" placeholder="message" id="message"/>
	      </div>
	    </div>
</template>