<template name="hp">
    <div class="homepage-wrap center">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="hero">
		    		<h1>Group chat with anyone</h1>
		    		<h2>No signups or invites required</h2>
		    	</div>
		    	<div class="btn btn-punch btn-xlrg upper expose-share-url"><strong>Create a Chat</strong></div>
    		</div>
    		<div class="row">
    			<div class="col-md-6 col-md-offset-3">
    				<div class="share-url-wrap hide">
    					<h3>Share this link with anyone!</h3>
    					<br>
			    		<input class="form-control input-lrg share-this-url" type="text" name="" id="" value="http://clinkit.co/c/3234232023/">
			    		<br>
			    		<h4>Your chat will be active for 2 hours.</h4>
			    		<br>
			    		<div class="btn btn-punch btn-lg upper"><strong>add more time</strong></div>
			    	</div>
    			</div>
    		</div>
    	</div>
    </div>
</template>