<template name="home">
    <div class="homepage-wrap center">
        <div class="container-fluid">
            <div class="row">
                <div class="hero">
                    <h1>Group chat with anyone</h1>
                    <h2>No signups or invites required</h2>
                </div>
                <div class="btn btn-bluebird btn-xlrg upper expose-share-url"><strong>Create a Chat</strong></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="share-url-wrap hide">
                        <h2>Your chat room is ready!</h2>
                        <h3>Next, share this link with the people you want in the room.</h3>
                        <br>
                        <input class="form-control input-lrg share-this-url" type="text" name="" id="" value="{{url}}">
                        <br>
                        <div class="btn btn-punch btn-lg upper"><strong>Enter the room now</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>