// General styles, e. g. for the body tag
@import 'variables';
@import 'elements';

/* -------------------
    Idioms
   ------------------- */
.center {
    text-align: center;
}
.upper {
    text-transform: uppercase;
}
.btn-xlrg {
    font-size: 30px;
    padding: 20px 48px;
}
.btn-bluebird {
    color: #ffffff;
    background-color: #01A1BE;
    border-color: #01A1BE;
    border-radius: 0;
}
.btn-bluebird:hover {
    color: #ffffff;
    background-color: #00768c;
    border-color: #00768c;
}
.btn-punch {
    color: #ffffff;
    background-color: #ec2b2b;
    border-color: #ec2b2b;
    border-radius: 0;
}
.btn-punch:hover {
    color: #ffffff;
    background-color: #da1717;
    border-color: #da1717;
}
.input-group-btn.btn.add-message {
    border-radius: 0;
    height: 75px;
}

/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
header {
    background-color: #052026;
    height: 45px;
    padding: 7px 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#main {
    margin: 0;
}

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}

.ui.header {
    font-family: 'Glegoo', serif;
}
.room-display-name {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 6px 0 0;
}
.line-item{
    background: #FFF;
    /*border-left: 15px solid #5BC0DE;*/
    border-left: 15px solid #ccc;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 20px 10px 10px 30px;
}
.new-message-wrap {
    background: #FFF;
    border-left: 15px solid #222;
    overflow: hidden;
}
.messages-container {
     background-color: #eee;
     margin-bottom: 75px;
     padding: 1px 0 0;
}
.user-message {
    background-color: #f9f9f9;
}
.message-timestamp {
    color: #aaa;
    font-weight: 400;
}
.form-control.simple {
    background-color: #F1F1F1;
    border: none;
    border-radius: 0;
    font-size: 14px;
    height: 75px;
    -webkit-box-shadow: none;
     box-shadow: none; 
}
.input-group-addon:first-child,
.input-group,
.form-control {
    border-radius: 0;
}
.no-margin {
    margin: 0;
}
.nav-link  {
    color: #fff;
    display: inline-block;
    padding-top: 5px;
}
.nav-link:hover  {
    color: #fff;
}
.chat-options {
    left: 0;
    position: fixed;
    top: 45px;
    right: 0;
}
.new-message-indicator {
    background-color: #ffe8a5;
    color: #000;
    display: none;
    left: 0;
    padding: 2px 0;
    position: fixed;
    bottom: 75px;
    right: 0;
}
/* -------------------
    Homepage Hero
   ------------------- */
.hero {
   background: url('images/background/hero_01.jpg') 0 0; 
   color: #fff;
   height: 400px;
   margin-bottom: 50px;
   padding: 100px 0 0;
   text-shadow: 0 1px 60px #000;
}
.hero h1 {
    font-size: 60px;
    font-weight: 600;
}
.share-url-wrap  {
    padding: 20px;
}
.share-url-wrap input {
    background-color: #f9f9f9;
    font-size: 30px;
    margin: 0 auto;
    height: 70px;
}
.share-url-wrap h3 {
    color: #ec2b2b;
    margin: 0;
    padding: 0;
}

.add-time-link {
    color: #ec2b2b;
    text-decoration: dotted;
}

/* -------------------
    Footer
   ------------------- */
.padding-wrapper.footer {
    border-radius: 0px;

    a:hover {
        color: @secondaryLinkHoverColor;
    }
}

/* -------------------
    Progress bar
   ------------------- */

#iron-router-progress {
    background-color : #00768c;
    box-shadow       : 0 0 5px #016f83;
}

#iron-router-progress.spinner:before {
    border-color : #dfdfdf;
}

.app-wrap {
}
.inner-app-wrap {
    margin-top: 45px;
}