<template name="header">
    <!-- header template -->
    <div class="container-fulid">
		<div class="row">
			<div class="col-xs-1 col-sm-1">
				<div class="logo-wrap">
					<a href="/"><img src="/images/clink-icon.png" alt="" width="30"></a>
				</div>
			</div>
			<div class="col-xs-4 col-sm-10">
				<h1 class="room-display-name center"><em>{{name}}</em></h1>
			</div>
			<div class="col-xs-5 col-sm-1">
				<a class="nav-link toggle-name-input" href="#">display name</a>
			</div>
		</div>
	</div>
</template>
