<template name="chat">
	<div class="container-fluid">
		<div class="row">
			<div class="inner-app-wrap">
				<div class="input-group chat-options hide">
				  <span class="input-group-addon">Name</span>
				  <input class="form-control update-name" type="text" id="nickname" placeholder="{{nickname}}">
				</div>
				<div id="messagesContainer" class="messages-container">
          		<!-- {{numberOfUsers}} -->
					<div class="messages">
					    {{#each messages}}
						    <div class="msg-container">
						    	<div class="msg-inner-container">
						    		<div class="line-item">
						    			<div class="usr">
						    				<div>
											    <div class="usr-nm">
											    	<strong><em>{{name}}</em></strong>
								  				</div>
								  			</div>
								  		</div>
								  		<div class="msg">
							  				<div class="msgid-container">
										    	<div class="msgid">
										      		<label class="label message-timestamp upper">{{prettyTime time}} </label>{{message}}
										      	</div>
										     </div>
						    			</div>
						    		</div>
						    	</div>
						    </div>
					    {{/each}}
					</div>
				</div>
				<div id="chat-message-input-container">
					<div class="row">
						<div class="col-sm-12">
							<div class="input-group input-group-lg new-message-wrap">
								<!-- <input class="form-control simple user-message" id="message" placeholder="Message"> -->
								<textarea id="message" class="form-control simple" rows="5"></textarea>
								<span class="input-group-btn">
									<button id="send-btn" class="btn btn-punch add-message" style="height: 75px; border-radius: 0;" type="button"><strong>Send</strong></button>
								</span>
							</div>
						</div>
					</div>
	  			</div>
			</div>
		</div>
	</div>
</template>